*{
    margin: 0;
    padding: 0;
    text-align: center;
}


body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;

}

section{
    background-color: white;
    padding: 1%;
    width: 250px;
    border-radius: 15px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: 3%;
}


img{
    border-radius: 10px;
}
h1{
    font-weight: 700;
    font-size: 19px;
    padding: 5% 0;
;
}



